<head>
<title>Tasks</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
 <%= stylesheet_link_tag 'board', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="container">
  <h1 class="home-title">TodoList</h1>
  <div>
    <% @tasks.each do |task|%>
      <div class="card">
        <div class="card_in">
           <div class="card_title">
            <%= task.title %>
           </div>
          <div class="article_detail_actions">
            <div class="dropdown">
              <div class = 'dropbtn'>
              <a href="#" class="btn-circle-flat"></a>
              </div>
              <div class="dropdown-content">
              <%= link_to 'Edit', edit_task_path(task.id) %>
              <%= link_to 'Delete', task_path(task), data: { method: 'delete' } %>
              </div>
          </div>
        </div>
</div>
          <div class="card_content"> 
            <%= task.content %>
          </div>
          <div class="card_content2"> 
          <%= task.limit %>
          </div>
          <div class="card_detail">
            <%= image_tag 'Oval.png' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to new_task_path do %>
    <div class="card_new">
      <p class="card_new_title">+ Add new task</p>
    </div>
  <% end %>
</div>
