<div class="new_board">
<%= form_with(model: @task, url: tasks_path, local: true) do |f| %>
  <div>
    <%= f.label :title, 'New task', class: 'title_new_board' %>
  </div>
  <div class="input_form">
    <%= f.label :title, 'Content' , class: 'new_board_name'%>
  </div>
  <div>
    <%= f.text_field :title, class: 'text_field' %>
  </div>
  <div>
    <%= f.label :content, 'Description', class:'Description'%>
  </div>
  <div>
    <%= f.text_area :content %>
  <div class="input_form">
    <%= f.label :limit, '期限' , class: 'limit'%>
  </div>
  <div>
    <%= f.text_field :limit, class: 'text_field' %>
  </div>
  <%= f.submit 'Submit', class: 'btn-primary' %>
<% end %>
</div>