<div class="task_picture">
<%= image_tag 'Photo.png' %>
</div>
<div class="task_board">
  <div class="show_table">
    <div class="show_card_title">
      <%= @task.title %>
    </div>
    <div class="show_card_content"> 
      <%= @task.content %>
    </div>
    <div class="show_card_detail">
      <%= image_tag 'Oval-4.png' %>
    </div>
    </div>
</div>
<div class="show_comment">
Comment
</div>
<% @comments.each do |comment|%>
  <div class="comment_title">
    <div class="task_title">
        <%= comment.body %>
    </div> 
    <% end %>
  </div>