<div class="task_picture">
<%= image_tag 'Photo.png' %>
</div>
<div class="task_board">
  <div class="show_table">
    <div class="show_card_title">
      <%= @task.title %>
    </div>
    <div class="show_card_content"> 
      <%= @task.content %>
    </div>
    <div class="show_card_detail">
      <%= image_tag 'Oval-4.png' %>
    </div>
    </div>
</div>
<div class="show_comment_list">
Comment
</div>
<% @comments.each do |comment|%>
  <div class="comment_title">
  <div class="task_title_comment">
        <%= comment.body %>
    </div> 
    <% end %>
  </div>

<%= link_to new_task_comment_path(@task) do %>
    <div class="task_add_new">
      <p class="card_new_title">+ New Comment</p>
    </div>
<% end %>