<!DOCTYPE html>
<html>
  <head>
    <title>Boards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <%= stylesheet_link_tag 'board', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
<header class="header">  
<div class="container">
     <div class="title">
     All Boards
     </div>
</div>
</header>
<div class="Rectangle">
<div class="to_do">
<div class="to_do_list">
Brackets
</div>
<div class="edit_dropdown_btn"> 
<%= image_tag "actions.svg", alt: "Rails icon", class: "edit_dropdown", width: "30px" %>
<div class="dropdown-content mini">
<%= link_to '編集する', new_board_path(@board) %>
</div>
</div>
<div class="todo_item">
Saving money - is something we would all like
   </div>
</div>
</div>
<div class ="Add_new_board">
<div class ="Add_new"> 
<h1>＋ Add new board</h1>
</div>
</div>
<%= yield %>
</body>
</html>
