<!DOCTYPE html>
<html>
  <head>
    <title>Boards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <%= stylesheet_link_tag 'board', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
<header class="header">  
<div class="container">
     <div class="title">
     <h1>All Boards<h1>
     </div>
</div>
</header>
<% @board.each do |board| %>
<div class="Rectangle">
<div class="to_do">
<div class="to_do_list">
<%= board.title %>
</div>
<div class="edit_dropdown_btn"> 
<%= image_tag "actions.svg", alt: "Rails icon", class: "edit_dropdown", width: "30px" %>
<div class="dropdown-content mini">
<%= link_to '編集する', new_board_path(@board) %>
</div>
</div>

<div class="todo_item">
<%= board.content %>
   </div>
</div>
</div>
<% end %>
</div>
<%= link_to new_board_path do %>
<div class ="Add_new_board">
<div class ="Add_new"> 
<p class="card_new_title">+ Add new board</p>

</div>
</div>
<%= yield %>
</body>
</html>

