<head>
<title>Boards</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
 <%= stylesheet_link_tag 'board', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="container">
  <h1 class="home-title">AllBoards</h1>
  <div>
    <% @boards.each do |board|%>
      <div class="card">
      <%= link_to '記事詳細', edit_board_path(board.id)%>
        <div class="">
           <div class="card_title">
            <%= board.title %>
           </div>
          <div class="article_detail_actions">
            <div class="dropdown">
              <div class = 'dropbtn'>
              <a href="#" class="btn-circle-flat"></a>
              </div>
              <div class="dropdown-content">
                <%= link_to 'Edit', edit_board_path(board.id) %>
                <%= link_to 'Delete', board_path(board), data: { method: 'delete' } %>
              </div>
          </div>
        </div>
      </div>
          <div class="card_content"> 
            <%= board.content %>
          </div>
          <div class="card_detail">
            <%= image_tag 'Oval.png' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to new_board_path do %>
    <div class="card_new">
      <p class="card_new_title">+ Add new board</p>
    </div>
  <% end %>
</div>
