.new_board
  = form_with(model: @board, url: boards_path, local: true) do |f|
    %div
      = f.label :title, 'New Board', class: 'title_new_board'
    .input_form
      = f.label :title, 'Name' , class: 'new_board_name'
    %div
      = f.text_field :title, class: 'text_field'
    %div
      = f.label :content, 'Description', class:'Description'
    %div
      = f.text_area :content
      = f.submit 'Submit', class: 'btn-primary'
