!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Boards
    %title TODOapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      %p.header_pageTitle Boards
      .header_pageTitle_img
        = image_tag 'Oval.png'
      %hr.border/
    = yield
